* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f1f5f8;
  color: #222;
}
h1, p {
  font-family: Lato;
  text-align: center;
  background-color: hsla(160, 78%, 15%, 0.9);
  color: #0f1;
}

img {
  width: 100%;
  border-radius: 1%;
}

.booklist {
  width: 90vw;
  max-width: 1170px;
  margin: 5rem auto;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 768px) {
  .booklist {
    grid-template-columns: repeat(3,1fr);
  }
}

.book {
  background: #eee;
  border-radius: 1rem;
  padding: 1rem 2rem;

}

.book h4 {
  margin-top: 0.5rem;
  color: #1dd;
  font-size: 1.5rem;
}